@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
	background: #fff;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background:  none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	
}

.navbar{
	background: transparent;
	display: inline-block;

}

hr {
	color: #ff000f;
}
.img {
	width: 100px;
	height: 100px;
	margin-left: 20px;
}

.navbar a {
	position: relative;
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-family: "Anta", sans-serif;
	font-weight: 500;
	margin-right: 30px;
	background: transparent;
}

.navbar a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #ff0000;
	border-radius: 5px;
	transform: translateY(10px);
	opacity: 0;
	transition: .5s;	
}

.navbar a:hover::after {
    transform: translateY(0);
	opacity: 1;
}

.section {
	position: relative;
	padding: 200px;
	background: transparent;
	
}

.section img{
	margin-top: -200px;
	margin-left: 150px;
}

.section button {
	position: absolute;
	top: 70vh;
	left: 30vw;
	border-radius: 100px;
	border: none;
	padding: 13px 22px;
	background: #416ed8;
	color: #fff;
}

.section h1{
	position: absolute;
	top: 60vh;
	left: 30vw;
	font-size: 30px;
	font-family: "Anta", sans-serif;
	font-weight: 400;
	font-style: normal;
}
